In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [4]:
#kategorik verileri sayısallaştırmak gerekiyor encod etmel gerekiyor
# 1-Label encoding,OrdinalEncoder-sıra varsa 
#2-OneHotEncoding-sırasız daha uygun olur.
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

le = LabelEncoder()
df["Sex"]=le.fit_transform(df["Sex"])
df["ChestPainType"] =le.fit_transform(df["ChestPainType"])
df["RestingECG"] =le.fit_transform(df["RestingECG"])
df["ExerciseAngina"] =le.fit_transform(df["ExerciseAngina"])
df["ST_Slope"] =le.fit_transform(df["ST_Slope"])
df.head(3)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0

In [5]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

#2-One-Hot Encoder
categorical =df[["Sex"]]

ohe = OneHotEncoder()
ohe.fit_transform(categorical)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = df.drop("HeartDisease",axis=1)
y = df["HeartDisease"]

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

 ## LogisticRegression

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
model= LogisticRegression(max_iter=1000)
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [12]:
#Accuracy score
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

0.842391304347826

In [13]:
confusion_matrix(y_test,y_pred)#modelin dogru ve yanlış tahmminlerini sınıf bazında gösterir
#Gerçek 0 Tahmin 0 ->68
#Gerçek 0 Tahmin 1 ->9 false pozittif 0->1
#Gerçek 1 Tahmin 0 ->20 false negatif 1->0
#Gerçek 1 Tahmin 1 ->87

array([[68,  9],
       [20, 87]])

In [14]:
print(classification_report(y_test,y_pred))
#precision ->0 dedigim degerin kaçı gerçekten 0
#recall -> gerçek sıfırların kaçı yakalandı ? 
#f1 score precession ve recall doranı (dengesi)
#support bu sınıftan kaç örnek vardı

              precision    recall  f1-score   support

           0       0.77      0.88      0.82        77
           1       0.91      0.81      0.86       107

    accuracy                           0.84       184
   macro avg       0.84      0.85      0.84       184
weighted avg       0.85      0.84      0.84       184

In [37]:
#yeni bir hasta geldi
new_patient= [[ 55,1,2,140,240,0,1,150,0,0,2]]
sample= pd.DataFrame(new_patient,columns=X_train.columns)
result=model.predict(sample)
print("Kalp hastalığı riski : ", "Var" if result[0]== 1 else "Yok")

Kalp hastalığı riski :  Yok

In [39]:
#Burdaki logisctic regressionu geliştirmek için farklı Encoder ile alanları encode edelim

In [41]:
df= pd.read_csv("heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [49]:
le= LabelEncoder()
categorical_columns= ["Sex","ChestPainType","RestingECG","ExerciseAngina","ST_Slope"]
for col in categorical_columns:
    df[col] =le.fit_transform(df[col])

In [73]:
import pickle
def train_and_evaluate(dataFrame, name):
    X = dataFrame.drop("HeartDisease", axis=1)
    y = dataFrame["HeartDisease"]

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    model = LogisticRegression(max_iter=1000)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)

    print(f"=== {name} isimli modelin sonuçları ====")
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print(classification_report(y_test,y_pred))
    with open("logistic_model.pkl", "wb") as f:
        pickle.dump(model, f)

In [53]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [55]:
df2=pd.read_csv("heart.csv")
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [57]:
df2 = pd.get_dummies(df2, columns=categorical_columns)
df2.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,...,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,False,True,False,...,False,False,False,True,False,True,False,False,False,True
1,49,160,180,0,156,1.0,1,True,False,False,...,True,False,False,True,False,True,False,False,True,False
2,37,130,283,0,98,0.0,0,False,True,False,...,False,False,False,False,True,True,False,False,False,True
3,48,138,214,0,108,1.5,1,True,False,True,...,False,False,False,True,False,False,True,False,True,False
4,54,150,195,0,122,0.0,0,False,True,False,...,True,False,False,True,False,True,False,False,False,True

In [75]:
train_and_evaluate(df, "Label Encoder")

=== Label Encoder isimli modelin sonuçları ====
Accuracy: 0.842391304347826
              precision    recall  f1-score   support

           0       0.77      0.88      0.82        77
           1       0.91      0.81      0.86       107

    accuracy                           0.84       184
   macro avg       0.84      0.85      0.84       184
weighted avg       0.85      0.84      0.84       184

In [61]:
train_and_evaluate(df2, "OHE")

=== OHE isimli modelin sonuçları ====
Accuracy: 0.8532608695652174
              precision    recall  f1-score   support

           0       0.80      0.87      0.83        77
           1       0.90      0.84      0.87       107

    accuracy                           0.85       184
   macro avg       0.85      0.86      0.85       184
weighted avg       0.86      0.85      0.85       184

In [63]:
df3 = pd.read_csv("heart.csv")
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [65]:
#cinsiyet -> sırlama yok label encoder kullanmak dogru degil.OnehotEncoder kullanmak vb daha dogrusur.
#ChestPainType	-->sıralama yok
#RestingECG-> sıralama yok
#ExerciseAngina-> sıralama yok
#ST_Slope -->sıralama var 

ohe_columns = ["Sex", "ChestPainType", "RestingECG","ExerciseAngina"]
lbl_columns = ["ST_Slope"]

for col in lbl_columns:
    df3[col] = le.fit_transform(df[col])

df3 = pd.get_dummies(df3, columns=ohe_columns)

In [67]:
df3.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,ST_Slope,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y
0,40,140,289,0,172,0.0,2,0,False,True,False,True,False,False,False,True,False,True,False
1,49,160,180,0,156,1.0,1,1,True,False,False,False,True,False,False,True,False,True,False
2,37,130,283,0,98,0.0,2,0,False,True,False,True,False,False,False,False,True,True,False
3,48,138,214,0,108,1.5,1,1,True,False,True,False,False,False,False,True,False,False,True
4,54,150,195,0,122,0.0,2,0,False,True,False,False,True,False,False,True,False,True,False

In [69]:
train_and_evaluate(df3, "Karışık Encoding")

=== Karışık Encoding isimli modelin sonuçları ====
Accuracy: 0.8478260869565217
              precision    recall  f1-score   support

           0       0.79      0.87      0.83        77
           1       0.90      0.83      0.86       107

    accuracy                           0.85       184
   macro avg       0.84      0.85      0.85       184
weighted avg       0.85      0.85      0.85       184

/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(